# Loops

In [ ]:
# Loops com While
inicio = 10
while inicio >= 0:
  print(inicio)
  inicio = inicio - 1
print("fim")

10
9
8
7
6
5
4
3
2
1
0
fim

In [ ]:
# Exercício 1: imprima todos os números pares menores que 20 (começando no 0)
numero = 0
while numero < 20:
  print(numero)
  numero += 2
print("fim")

0
2
4
6
8
10
12
14
16
18
fim

# Listas

Uma lista é uma coleção de valores, geralmente do mesmo tipo (por exemplo, vários números juntos). Essa coleção possui uma ordem, ou seja, existe um primeiro item, um segundo item, etc.

In [ ]:
# Exemplo de lista
notas = [90, 87, 65, 31]
print(notas)

[90, 87, 65, 31]

In [ ]:
# Acessando valores de uma lista (primeiro item é posição 0, segundo é posiçao 1, ...)
notas = [90, 87, 65, 31]
print(notas[0])

90

In [ ]:
# Acessando valores de uma lista usando while
notas = [90, 87, 65, 31]
i = 0
while i < 4:
  print(notas[i])
  i = i + 1

90
87
65
31

In [ ]:
# Acessando valores de uma lista usando for
notas = [90, 87, 65, 31, 57, 21]
for nota in notas:
  print(f"Sua nota foi {nota}")
print("fim")

Sua nota foi 90
Sua nota foi 87
Sua nota foi 65
Sua nota foi 31
Sua nota foi 57
Sua nota foi 21
fim

In [ ]:
# Exercício 2: usando uma lista de preços de produtos,
# descubra quantos produtos tem preço maior que 70
precos = [90, 15, 43, 71, 66, 74]
limite = 70

contador = 0
for preco in precos:
  if preco > limite:
    contador += 1
print(f"A quantidade de produtos com preço maior que {limite} é {contador}.")

A quantidade de produtos com preço maior que 70 é 3.

# Métodos de Listas

Um método é uma função específica para aquele tipo de variável.

Em python, as listas tem vários métodos úteis, que nos ajudam a fazer os cálculos.

Para ver todos os métodos, entre em: https://www.w3schools.com/python/python_ref_list.asp

In [ ]:
# Adicionando elementos no final de uma lista
idades = [18, 90, 34, 50, 12]
print(idades)

idades.append(20)
print(idades)

[18, 90, 34, 50, 12]
[18, 90, 34, 50, 12, 20]

In [ ]:
# Adicionando várias coisas
idades = [90, 17]
adicionar = [10, 65, 43]

for idade in adicionar:
  idades.append(idade)

print(idades)

[90, 17, 10, 65, 43]

In [ ]:
# Tamanho de uma lista
idades = [18, 90, 34, 50, 10, 12]
tamanho = len(idades)
print(tamanho)

6

In [ ]:
# Contagem de um determinado valor
niveis = ["basico", "intermediario", "basico", "avancado", "intermediario"]
contagem = niveis.count("avancado")
print(contagem)

1

In [5]:
# Verificando se um valor existe na lista
nomes = ["gabriel", "nicolas", "pedro", "ana", "maria"]
if "gabriel" in nomes:
  print("gabriel está na lista")
else:
  print("gabriel não está na lista")

gabriel está na lista

In [1]:
# Remove elemento de lista (só remove a primeira ocorrência)
nomes = ["gabriel", "nicolas", "pedro", "ana", "maria"]
nomes.remove("gabriel")
print(nomes)

['nicolas', 'pedro', 'ana', 'maria']

In [2]:
# Removendo todas as ocorrências do valor
nomes = ["gabriel", "nicolas","gabriel", "pedro", "ana", "maria"]
while nomes.count("gabriel") > 0:
  nomes.remove("gabriel")
print(nomes)

['nicolas', 'pedro', 'ana', 'maria']

In [ ]:
# Soma de elementos de uma lista
compras = [17.0, 25.99, 4.50, 21]
total = sum(compras)
print(total)

68.49

In [ ]:
# Ordenação crescente
compras = [17.0, 23.99, 4.50, 21]
compras.sort()
print(compras)

[4.5, 17.0, 21, 23.99]

In [ ]:
# Ordenacao decrescente
compras = [17.0, 23.99, 4.50, 21]
compras.sort(reverse=True)
print(compras)

[23.99, 21, 17.0, 4.5]

In [ ]:
# Exercício 3: calcule a média das notas de uma turma, a partir da lista com essas notas
notas = [70, 98, 54, 67, 92]
media = sum(notas) / len(notas)
print(media)

76.2

# Strings (Textos)

Strings também são listas, e portanto muito dos métodos de listas podem ser usados com strings.

Veja mais em: https://www.w3schools.com/python/python_ref_string.asp

In [ ]:
# Loop com string
nome = "roberto"
for letra in nome:
  print(letra)

r
o
b
e
r
t
o

In [ ]:
# Tamanho de string
nome = "robertotomchak"
tamanho = len(nome)
print(tamanho)

14

In [ ]:
# Transformando em minúsculo ou maiúsculo
nome = "Roberto Tomchak"
nome_minusculo = nome.lower()
print(nome_minusculo)

nome_maisculo = nome.upper()
print(nome_maisculo)

roberto tomchak
ROBERTO TOMCHAK

In [ ]:
# Contando letra
nome = "ana leticia"
contagem = nome.count("a")
print(contagem)

3

In [ ]:
# Podemos quebrar uma string em strings menores e guardar em uma lista
nome = "roberto sprengel minozzo tomchak"
separado = nome.split(" ")
print(separado)

['roberto', 'sprengel', 'minozzo', 'tomchak']

In [6]:
# Exercício 4: separe uma linha cujo valores estão separados por vírgula e
# depois mostre quantos números temos
linha = "15,67,98,13,20"
separado = linha.split(",")
quantidade = len(separado)
print(quantidade)

5

# Exercícios

In [11]:
# Conte quantas pessoas numa lista são maiores de idade
idades = [10, 18, 19, 23, 14, 5, 76]

contador = 0
for idade in idades:
  if idade >= 18:
    contador += 1
print(contador)

4

In [13]:
# Usando while, imprima todos os números ímpares
# entre 15 e 37 (incluindo esses)
numero = 15
while numero <= 37:
  print(numero)
  numero += 2

# comentários do professor:
# 1) lembre-se que a variável deve começar no 15, já que é o primeiro valor
# que queremos escrever
# 2) assim como os números pares, os ímpares aumentam de 2 em 2, por isso
# usamos "numero += 2"

15
17
19
21
23
25
27
29
31
33
35
37

In [14]:
# Você tem duas listas, uma com vários nomes e outra
# com alguns nomes só
# Para cada nome dessa segunda lista, imprima quantas
# vezes ele aparece na primeira
primeira = ["gabriel", "roberto", "julia", "roberto", "maria", "maria", "nicolas"]
segunda = ["roberto", "julia"]

for nome in segunda:
  quantidade = primeira.count(nome)
  print(f"{nome} aparece {quantidade} vezes na primeira lista")

# comentários do professor:
# 1) note que já no enunciado ele fala "para cada nome da segunda lista"
# que basicamente é a versão traduzida de "for nome in segunda"

roberto aparece 2 vezes na primeira lista
julia aparece 1 vezes na primeira lista