# Exercícios: Pandas

In [1]:
import pandas as pd

In [2]:
# 1. Crie uma tabela contendo as seguintes informações:
# nome	departamento	idade	salario
# Ana	Vendas	28	3500
# Carlos TI	34	5500
# Beatriz	Marketing	26	3200
# Daniel	Recursos Humanos	45	6200
# Eduardo	TI	29	4800

In [3]:
# 2. Adicione a seguinte coluna à tabela:
# anos_de_experiencia
# 5 / 10 / 3 / 20 / 7

In [4]:
# 3. Imprima somente o nome e salário dos funcionários maiores de 30 anos.

In [6]:
# 4. Qual a média, mediana, moda e desvio padrão dos salários dos funcionários?

In [7]:
# 5. Qual funcionário recebe o maior salário? Ele é o funcionário mais velho?

In [8]:
import pandas as pd
import io
import requests
url = "https://raw.githubusercontent.com/robertotomchak/imigrantesavancado/main/dados_enem.csv"
s = requests.get(url).content
df2 = pd.read_csv(io.StringIO(s.decode('utf-8')))

In [9]:
df2

,NU_INSCRICAO,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,NU_NOTA_REDACAO,NU_IDADE
0,210055201589,F,Solteiro(a),Parda,Brasileiro(a),Publica,Estância,SE,0.0,0.0,0.0,0.0,Espanhol,0.0,23
1,210056717205,F,Solteiro(a),Parda,Brasileiro(a),Publica,Aracati,CE,436.7,420.0,512.6,430.4,Espanhol,560.0,20
2,210056012033,F,Solteiro(a),Branca,Brasileiro(a),Publica,São Paulo,SP,819.5,684.9,657.8,905.5,Ingles,900.0,18
3,210056292241,M,Solteiro(a),Parda,Brasileiro(a),Publica,Goianésia,GO,442.4,579.2,582.7,551.9,Ingles,740.0,17
4,210054772114,F,Solteiro(a),Parda,Brasileiro(a),Publica,Santarém,PA,461.4,485.9,448.9,433.6,Espanhol,520.0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951939,210055668087,M,Nao informado,Parda,Brasileiro(a),Publica,Ipatinga,MG,487.6,495.6,545.5,597.4,Ingles,580.0,17
951940,210057205644,F,Casado(a),Branca,Brasileiro(a),Publica,Caruaru,PE,0.0,0.0,0.0,0.0,Espanhol,0.0,43
951941,210056699189,M,Solteiro(a),Branca,Brasileiro(a),Publica,Lages,SC,527.9,627.0,583.3,637.1,Ingles,660.0,17
951942,210056983033,M,Solteiro(a),Parda,Brasileiro(a),Privada,Guaíra,SP,0.0,0.0,0.0,0.0,Ingles,0.0,18
951943,210056307777,F,Casado(a),Parda,Brasileiro(a),Publica,Goiânia,GO,0.0,0.0,0.0,0.0,Espanhol,0.0,17

Utilizando os dados do ENEM responda:

In [10]:
# 6. Quantos candidados de Curitiba fizeram a prova?

In [11]:
# 7. Quantos estudantes não fizeram a prova? Isto é, zeraram todas as provas.

In [12]:
# 8. Dado um estudante aleatório, qual a probabilidade dele ter uma nota maior que 700 em Matemática?

In [13]:
# 9. Compare a porcentagem de estudantes que escolheram inglês e espanhol como língua estrangeira.
# Qual a língua estrangeira mais escolhida?

In [14]:
# 10. Quantos estudantes tiveram nota na redação igual a 1000?
# A maioria era de escola pública ou privada?