# Loops

In [ ]:
# Loops com While
inicio = 10
while inicio >= 0:
  print(inicio)
  inicio = inicio - 1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# Exercício 1: imprima todos os números pares menores que 20 (começando no 0)

# Listas

Uma lista é uma coleção de valores, geralmente do mesmo tipo (por exemplo, vários números juntos). Essa coleção possui uma ordem, ou seja, existe um primeiro item, um segundo item, etc.

In [ ]:
# Exemplo de lista
notas = [90, 87, 65, 31]
print(notas)

[90, 87, 65, 31]

In [ ]:
# Acessando valores de uma lista (primeiro item é posição 0, segundo é posiçao 1, ...)
notas = [90, 87, 65, 31]
print(notas[0])

90

In [ ]:
# Fazendo um loop com os itens de uma lista
notas = [90, 87, 65, 31]
for nota in notas:
  print(f"Sua nota foi {nota}")

Sua nota foi 90
Sua nota foi 87
Sua nota foi 65
Sua nota foi 31

In [ ]:
# Exercício 2: usando uma lista de preços de produtos, descubra quantos produtos tem preço maior que 70
precos = [90, 15, 43, 70, 66, 74]
contador = 0
for preco in precos:
  if preco > 70:
    contador = contador + 1
print(contador)

2

# Métodos de Listas

Um método é uma função específica para aquele tipo de variável.

Em python, as listas tem vários métodos úteis, que nos ajudam a fazer os cálculos.

Para ver todos os métodos, entre em: https://www.w3schools.com/python/python_ref_list.asp

In [ ]:
# Adicionando elementos no final de uma lista
idades = [18, 90, 34, 50, 12]
print(idades)

idades.append(20)
print(idades)

[18, 90, 34, 50, 12]
[18, 90, 34, 50, 12, 20]

In [ ]:
# Tamanho de uma lista
idades = [18, 90, 34, 50, 12]
tamanho = len(idades)
print(tamanho)

5

In [ ]:
# Contagem de um determinado valor
niveis = ["basico", "intermediario", "basico", "avancado", "intermediario"]
contagem = niveis.count("basico")
print(contagem)

2

In [ ]:
# Remove elemento de lista
nomes = ["gabriel", "nicolas", "pedro", "ana", "maria"]
nomes.remove("gabriel")
print(nomes)

['nicolas', 'pedro', 'ana', 'maria']

In [ ]:
# Soma de elementos de uma lista
compras = [17.0, 23.99, 4.50, 21]
total = sum(compras)
print(total)

66.49

In [ ]:
# Ordenação crescente
compras = [17.0, 23.99, 4.50, 21]
compras.sort()
print(compras)

[4.5, 17.0, 21, 23.99]

In [ ]:
# Exercício 3: calcule a média das notas de uma turma, a partir da lista com essas notas

# Strings (Textos)

Strings também são listas, e portanto muito dos métodos de listas podem ser usados com strings.

Veja mais em: https://www.w3schools.com/python/python_ref_string.asp

In [ ]:
# Loop com string
nome = "roberto"
for letra in nome:
  print(letra)

r
o
b
e
r
t
o

In [ ]:
# Tamanho de string
nome = "roberto"
tamanho = len(nome)
print(tamanho)

7

In [ ]:
# Transformando em minúsculo ou maiúsculo
nome = "Roberto Tomchak"
nome_minusculo = nome.lower()
print(nome_minusculo)

nome_maisculo = nome.upper()
print(nome_maisculo)

roberto tomchak
ROBERTO TOMCHAK

In [ ]:
# Contando letra
nome = "ana leticia"
contagem = nome.count("a")
print(contagem)

3

In [ ]:
# Podemos quebrar uma string em strings menores e guardar uma lista
nome = "roberto sprengel minozzo tomchak"
separado = nome.split(" ")
print(separado)

['roberto', 'sprengel', 'minozzo', 'tomchak']

In [ ]:
# Exercício 4: separe uma linha cujo valores estão separados por vírgula e depois mostre quantos números temos

# Exercícios

In [30]:
# Conte quantas pessoas numa lista são maiores de idade
idades = [10, 18, 19, 23, 14, 5, 76]

In [31]:
# Usando while, imprima todos os números ímpares entre 15 e 37 (incluindo esses)

In [34]:
# Você tem duas listas, uma com vários nomes e outra com alguns nomes só
# Para cada nome dessa segunda lista, imprima quantas vezes ele aparece na primeira
primeira = ["gabriel", "roberto", "julia", "roberto", "maria", "maria", "nicolas"]
segunda = ["roberto", "julia"]